:root{
--accent-color: #2196F3;
--main-text-color: #757575;
--second-text-color: #212121;
--white-color: #FFFFFF;
--background-grey: #F5F4FA;
--background-darkgrey: #2F303A;
--border-line:#ECECEC;



}

/*------------Общие стили элементов-------*/
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}


h1,
h2,
h3,
h4,
p,
ul,
li{
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;   
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.second-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;

    color: var(--second-text-color);
}

.link{
    text-decoration: none;
    font-style: normal ;
}

.list{
    list-style-type: none;
}

.button {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
    text-align: center;
}
.container{
margin: 0 auto;
width: 1200px;
padding-right: 15px;
padding-left: 15px;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* -------------------------HEADER------------------------- */

.header{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-line);
}
.header a{
display: block;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    
    color: var(--main-text-color);
}

.header .link:hover,
.link:focus {
    color: var(--accent-color);
}

.nav > a{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

.logo-link>span{
    color: var(--accent-color);
}
.nav> a:hover,
a:focus {
    color: var(--second-text-color);
}

.nav-list a {
    padding-top: 32px;
    padding-bottom: 32px;

        color: var(--second-text-color);
}

.item.page-now a{
    color: var(--accent-color);
    text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-list>.item:not(:last-child), .contacts-item:not(:last-child){
margin-right: 50px;
}

.nav-list, .data{
    display: flex;
    margin-left: 93px;
}

.header-container{
    display: flex;
    align-items: center;
}

.contacts-item{
    display: flex;
    align-items: center;
}

.contacts-item .link{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    color: var(--main-text-color);
}

.data{
    margin-left: auto;
}

.icon-envelope{
    width: 16px;
    height: 12px;
margin-right: 10px;
fill: currentColor;
}


.icon-smartphone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.data .link:hover{
color: var(--accent-color);
}


/*-----------------------------ORDER------------------------*/

.order{

    padding-top: 200px;
padding-bottom: 200px;

    background-color: var(--background-darkgrey);
text-align: center;

max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url(../images/background1.jpg);
}
.main-heading{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--white-color);
}

.main-button{
    padding: 10px 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
   

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

/*--------------------ADVANTAGES-----------------------*/
.advantages .second-heading{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.advantages h3{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    text-align: left;
    
    color: var(--second-text-color);
}

.advantages .item + .item{
    margin-left: 30px;
}

.advantages .third-heading{
    margin-bottom: 10px;
}

.advantages-items{
    display: flex;
}
.advantages .text{
    width: 270px;
}

.bck-antena, .bck-clock, .bck-diagram, .bck-astronaut{
background-color: var(--background-grey);
width: 270px;
height: 120px;

display: flex;
justify-content: center;
align-items: center;

margin-bottom: 30px;
}

.icon-antena, .icon-clock, .icon-diagram, .icon-astronaut {
    width: 70px;
    height:70px;
}


/*-- -------------------whatdo-----------*/
.whatdo{
    padding-top: 0px;
}

.whatdo .second-heading{
    margin-bottom: 50px;
}

.whatdo .list{
    display: flex;
    padding: 0;
    justify-content: space-between;
}


.whatdo .item + .item{
    margin-left: 30px;

}

/*------------------------TEAM--------*/

.team .list-container{
    display: flex;
}


.team{
    background-color: var(--background-grey);
    
}


.team .second-heading{
    margin-bottom: 50px;
}

.team .item{

    background-color: var(--white-color);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-right: 30px;
}

.team .item:nth-child(4n){
    margin-right: 0px;
}

.third-heading{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: var(--second-text-color);
}

.team p{
    
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;

    margin-bottom: 16px;
}

.team .third-heading{
    margin: 30px 50px 10px;
    text-align: center;
}

.team-icons {
    display: flex;
    list-style-type: none;
    margin-bottom:  30px;
    justify-content: center;
}

.team-icons .item {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    box-shadow: none;
}

.team-icons .item:last-child {
    margin-right: 0px;
}


.team-icons .link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    border: none;
    border-radius: 50%;
    box-shadow: none;

    color: #afb1b8;
}

.team-icons .link:hover , .team-icons .link:focus{
    background-color: var(--accent-color);
color: var(--white-color);
    height: 100%;
    width: 100%;
}

.team-icons .icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}



    /*-- -------------------Regular Customers---------- --*/

    .customers .second-heading{
        margin-bottom: 50px;
    }

    .customers .link{
        width: 100%;
        height: 100%;

        display: flex;
        justify-items: center;
        align-items: center;
        align-content: center;

        fill: #AFB1B8;
    }

.customers .link:hover{
        fill: var(--accent-color)
}

    .customers .list{
display: flex;
justify-content: center;
    }

    .customers .item{
        margin-right: 30px;
        width: 170px;
        height: 92px;

      border: #AFB1B8 solid 1px;
      border-radius: 4px;

    }

    .customers .item:last-child{
        margin-right: 0px;
    }

    .customers .item:hover{
        border: var(--accent-color) solid 1px;
    }

    .icon-customer1, .icon-customer2, .icon-customer3,.icon-customer4, .icon-customer5, .icon-customer6{
    max-width: 170px;
    max-height: 82px;
    }

/*------------------------------------FOOTER-----------*/
.footer{
    background-color: var(--background-darkgrey);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .container {
    display: flex;
align-items: baseline;
}

.footer-address{
    margin-right: 70px;
    margin-bottom: 60px;
}

.footer .logo-link{
    color: var(--white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
}

.map{
color: var(--white-color);
}

.footer-link {
color: rgba(255, 255, 255, 0.6);
}

.footer .item{
    margin-bottom: 9px;
}

.footer .item:last-child{
    margin-bottom: 0;
}


.footer .list{
    margin-top: 20px;
}

.footer .second-heading{
    color: var(--white-color);

    font-family: Roboto; 
    font-style: Bold;
    font-size: 14px ;
    line-height: calc(16/14);

    margin-bottom: 20px;
    text-align: left;
}


.footer-join .list{

    display: flex;
}

.footer-join .item{
width: 44px;
height: 44px;
margin-right: 10px;
margin-bottom: 0px;
background-color: rgba(255, 255, 255, 0.1);

border: none;
border-radius: 50%;
box-shadow: none;
}

.footer-join .item:last-child {
    margin-right: 0px;
}

.footer-join .item:hover{
    background-color: var(--accent-color);
}

.footer-icon{
    fill: var(--white-color);
    width: 20px;
    height: 20px;
}

.footer-join a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*!!!----------------------------PORTFOLIO------------!!!*/

/*-- ---------------EXAMPLES------- -*/

.examples h1{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.examples .button{
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--background-grey);
border-radius: 4px;
    border:none;
    padding: 6px 22px;
}

.examples-item {
    margin-right: 8px;
}

.examples-item:last-child{
    margin-right: 0px;
}



.examples .button:hover, .examples .button:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}

.examples-buttons{
    display: flex;
    justify-content: center;
}

/*----------------Карточки с работами-----------*/

.cards-list .link{
    display: block;
    padding: 24px 20px;
    border: 1px solid #EEEEEE;
    justify-content: center;
    align-items: center;
}
.cards-list .link:hover{
background-color: var(--accent-color);
}

.cards-list .item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.cards-list .item:nth-child(3n + 3) {
    margin-right: 0px;
    }

    .cards-list .item:nth-last-child(-n + 3) {
        margin-bottom: 0;}

.examples .second-heading{
margin-bottom: 4px;


    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    text-align: left;
}
.examples-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--main-text-color);
}

.examples-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.cards-list{
    display: flex;
    flex-wrap: wrap;
}

